<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원 비밀번호 재설정</title>
</head>

<body>

<h1>회원 비밀번호 재설정</h1>
<header th:replace="/fragments/layout.html :: fragment-header-menu"></header>

<form method="post" onsubmit="checkPassword();" action="/member/reset/password">
  <input type="hidden" name="uuid" th:value="${uuid}">
  <div>
    <input id="password" type="password" placeholder="패스워드 입력" name="password" required/>
  </div>
  <div>
    <input id="password2" type="password" placeholder="패스워드 확인" required/>
  </div>
  <div>
    <button type="submit">  비밀번호 재설정 </button>
  </div>
</form>


<script>
  const checkPassword = (event) => {
    const pw1 = document.getElementById("password").value;
    const pw2 = document.getElementById("password2").value;

    if(pw1 !== pw2) {
      alert("패스워드가 일치하지 않습니다.")
      event.preventDefault();
    }
  }
</script>

</body>
</html>